*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;

}
.pizza{
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: 5rem;
    color:brown;
    box-shadow: 0 0 20px rgb(94, 84, 84);
    border-radius: 20px;
}
.container{
    width: 1400px;
    margin: 0 auto;
}


.pizza-border{
    transform: translateX(45%);
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: rgb(215, 160, 92);
    box-shadow:0 10px 50px rgb(34, 26, 26);
}
.pizza-center {
    margin-left: 24px;
    transform: translateY(3.5%);
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: rgb(161, 50, 25);
    
}
.pomidor {transition: 1s;
    width: 100px;
    height: 100px;
    transform: translateX(500px);
   img{
    border-radius:50%;
    border: 4px solid rgba(236, 105, 105, 0.878);
   }
   .img1{
    position: absolute;
    top:30px;
    right: -10px;   }
   .img2{
    position: absolute;
    top: 170%;
    right: 120%;
   }
   .img3{
       position: absolute;
       top: 175%;
       right: 310%;
   }.img4 {
    position: absolute;
    top: 40%;
    right: 450%;
}.img5 {
    position: absolute;
    top: -295%;
    right: 120%;
}.img6 {
    position: absolute;
    top: -155%;
    right: 455%;
}.img7 {
    position: absolute;
    top: -295%;
    right: 315%;
}.img8{
    position: absolute;
    top: -150%;
    right: -12%;
}
}
.kolbasa{transition: 1s;
    img{
        border-radius: 50%;
            border: 2px solid rgba(238, 101, 172, 0.637);
    }
    .kolba1{
        position: absolute;
        top: 33%;
        right: 65%;
    }
    .kolba2{
        position: absolute;
        top:20%;
        right: 51%;
    }
        .kolba3 {
            position: absolute;
            top: 20%;
            right: 32%;
        }.kolba4 {
            position: absolute;
            top: 34%;
            right: 20%;
        }.kolba5 {
            position: absolute;
            top: 52%;
            right: 20%;
        }.kolba6{
            position: absolute;
            top: 66%;
            right: 32%;
        }.kolba7 {
            position: absolute;
            top: 66%;
            right: 51.5%;
        }.kolba9 {
            position: absolute;
            top: 52%;
            right:65%;
        }
}
.bodring{
    .bod1{
        position: absolute;
        top: 28%;
        left:37%;
    }
        .bod2 {
            position: absolute;
            top: 28%;
            left: 49%;
        }
  .bod3 {
      position: absolute;
      top: 37%;
      left: 58%;
  }
  .bod4 {
      position: absolute;
      top: 49.5%;
      left: 58%;
  }
  .bod5 {
      position: absolute;
      top: 58%;
      left: 49%;
  }
  .bod6 {
      position: absolute;
      top: 58%;
      left: 36.5%;
  }
  .bod7 {
      position: absolute;
      top: 49%;
      left: 28%;
  }
  .bod8 {
      position: absolute;
      top: 37%;
      left: 28%;
  }
}
.qoziqorin{
    .qozi1{
        position: absolute;
        top: 15%;
        left: 25%;
        transform: rotate(-45deg);
    }
        .qozi2 {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: rotate(15deg);
        }.qozi3 {
            position: absolute;
            top: 25%;
            left: 70%;
            transform: rotate(45deg);
        }.qozi4 {
            position: absolute;
            top: 49%;
            left: 70%;
            transform: rotate(90deg);
        }.qozi5 {
            position: absolute;
            top: 70%;
            left: 60%;
            transform: rotate(135deg);
        }.qozi6 {
            position: absolute;
            top: 72%;
            left: 35%;
            transform: rotate(180deg);
        }.qozi7 {
            position: absolute;
            top: 59%;
            left: 16%;
            transform: rotate(210deg);
        }.qozi8 {
            position: absolute;
            top: 35%;
            left: 16%;
            transform: rotate(290deg);
        }
}
.pizza1{
    width: 5px;
    height: 650px;
    background-color:antiquewhite;
    transform: translateX(325px);
    border-radius:5px;
}
.pizza2{
    width: 650px;
     height: 5px;
     background-color: antiquewhite;
     transform: translateY(-323px);
     border-radius: 5px;
}
.pizza3 {
    width: 650px;
    height: 5px;
    background-color: antiquewhite;
    margin-top: -330px;
    transform: rotate(45deg);
    border-radius: 5px;
}
.pizza4{
    width: 650px;
    height: 5px;
    background-color: antiquewhite;
    transform: rotate(135deg);
    border-radius: 5px;
}
.sub{
    transform: translateX(500px);
    margin: 5rem 0;
}
form{box-shadow:0 0 20px rgb(40, 25, 25);
    width: 205px;
    background-color:rgba(128, 128, 128, 0.155);
    border-radius:20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transform: translateY(450px);
    row-gap: 2rem;
    .label1{
        font-size: 2rem;
        color:red;
    }
    .label2{
        font-size: 2rem;
        color:rgba(238, 101, 172, 0.953);
    }
    .label3{
        font-size: 2rem;
        color:rgb(40, 216, 158);
    }
    .label4{
        font-size: 2rem;
        color:rgb(170, 97, 238);
    }
}
.ummumiy{
    line-height: 50px;
    box-shadow: 0 0 20px grey;
    padding: 1rem;
    border-radius:20px;
    background-color:rgba(128, 128, 128, 0.122);
    position: absolute;
    top:65%;
    right:1%;
    .narx1{
        color: red;
    }
        .narx2 {
        color: rgba(238, 101, 172, 0.953);}
        .narx3 {
        color: rgb(40, 216, 158);
        }
        .narx4{
        color: rgb(170, 97, 238);
        
    }

}
.jami{
    position: absolute;
    top: 120%;
    box-shadow:0 0 20px grey;
    border-radius:20px;
    padding: 1rem 2rem;
    background-color:rgba(128, 128, 128, 0.155);
    padding-bottom: 2rem;
    right: 0;
    color:blue;
}